*{
    padding: 0px;
    margin: 0px;
    font-family: 'spotify-circular', Helvetica, Arial, sans-serif;

}
#sub-container{
    margin-top: 40px;
}

.linha{
    border: 0.5px solid rgb(217, 218, 220);
}
#sub-container button{
    width: 442px;
    height: 46px;
    border: 1px solid rgb(36, 34, 34);
    border-radius: 50px;
    font-weight: bold;
}
#sub-container button table{
    margin: auto;  /*centralizar tabela*/
}
#sub-container .facebook{
    background-color: #3b5998;
    color:  #ffffff;
    display: block;
}
#sub-container .apple{
    background-color: #191919;
    color: #ffffff;
}
#sub-container .apple p span{
    margin-left: 120x;
}
#sub-container .google{
    background-color: #ffffff;
    color:  #8c8c8c;
}
#sub-container .google img{
    width: 25px;
    height: 25px;
}
#sub-container .fone{
    background-color: #ffffff;
    color:  #8c8c8c;;
}

.opcao h1{

    font-size: 14px;
}
.opcao h1::after{

    content: ' ';
    display: block;
    width: 170px;
    border: 0.5px solid rgb(217, 218, 220);
    position: relative;
    right: 120px;
    top:-10px;
}
.opcao h1::before{

    content: ' ';
    display: block;
    width: 170px;
    border: 0.5px solid rgb(217, 218, 220);
    position: relative;
    left: 120px;
    top:10px;
}

form hr{
    
    width: 420px;
}
form h1{
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.bt-inscrever{
    width: 442px;
    height: 46px;
    border: 1px solid #6a6a6a; 
    border-radius: 50px;
    font-weight: bold;
    background-color: #fff;
    color: #6a6a6a;
    font-size: 14px;
}
.bt-inscrever:hover{
    border-color: rgb(36, 34, 34);
    color: rgb(36, 34, 34);
}
.form-login{
    width: 450px;
}
.form-login h6{
    font-size: 15px;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
}
.form-login .campo-texto{
    width: 100%;
    height: 40px;
}
.form-login div{
    padding-top: 15px;
    padding-bottom: 10px;
    width: 100%;
    text-align: left;
}
.form-login div a:hover{
    text-decoration: underline;
}
.campo-texto::-webkit-input-placeholder{ /*Placeholder modificando propriedades dos textos internos*/
    padding-left: 15px;
    font-family: Arial;
    font-size: 15px;
}
.form-login .bt-check td{
    width: 100%;
    padding-bottom: 15px;
}
.form-login .bt-check button{
    width: 130px;
    height: 40px;
    background-color: #1ed760;
    border: none;
    border-radius: 25px;
    font-weight: bold;
}